.container {
  width: 220px;
  flex-shrink: 0;
  height: 100vh;
  background-color: var(--color-surface); 
  padding: 1.5rem;
  border-right: 1px solid var(--color-border); 
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.link {
  text-decoration: none;
  color: var(--Dark);
  font-weight: normal;
}

.active {
  color: var(--Accent);
  font-weight: bold;
}
